/* Change the colors for the background, font, button and links, and box shadows. */
:root {
    --main-theme-primary-color: #ffffff;
    --main-theme-secondary-color: #000000;
    --main-theme-accent-color: #0000ff;
    --main-theme-box-shadow-color: rgba(0, 0, 0, 0.5);
    /* remove all the alternate theme colors if you don't want an alternate theme*/
    --alternate-theme-primary-color: #000000;
    --alternate-theme-secondary-color: #ffffff;
    --alternate-theme-accent-color: #ff0000;
    --alternate-theme-box-shadow-color: rgba(255, 255, 255, 0.5);
}

body {
    background: var(--main-theme-primary-color);
    color: var(--main-theme-secondary-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    min-height: 100vh;
    text-align: center;
}

header {
    padding: 10px 20px;
}

.themeButton {
    background: var(--main-theme-accent-color);
    border: 1px solid var(--main-theme-secondary-color);
    border-radius: 16px;
    color: var(--main-theme-secondary-color);
    cursor: pointer;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 20px;
    transition: 150ms ease-in-out;
}

.themeButton:hover {
    background: var(--main-theme-secondary-color);
    color: var(--main-theme-accent-color);
}

main {
    padding: 50px 20px;
}

a {
    color: var(--main-theme-accent-color);
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: var(--main-theme-secondary-color);
    text-decoration: none;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.project-item {
    height: 94%;
    margin: 3% 1%;
    width: 96%;
}

.card {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    border-radius: 5px;
    box-shadow: 0px 3px 10px var(--main-theme-box-shadow-color);
    display: grid;
    height: 100%;
    transition: all 0.2s ease-in;
    width: 100%;
}

.card:hover {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    box-shadow: 0px 15px 26px var(--main-theme-box-shadow-color);
    transition: all 0.2s ease-in;
}

.card .image-box {
    align-self: start;
    border-radius: 5px;
    box-shadow: 0px 2px 15px var(--main-theme-box-shadow-color);
    justify-self: center;
    margin: 0;
    overflow: hidden;
}

.card .image-box img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    border-radius: 5px;
    vertical-align: middle;
}

.card:hover .image-box img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.card .card-body {
    align-self: center;
    justify-self: center;
    padding: 10px;
}

/* Remove all .alternate styles if you don't want an alternate theme. */
.alternate {
    background: var(--alternate-theme-primary-color);
    color: var(--alternate-theme-secondary-color);

    a {
        color: var(--alternate-theme-accent-color);
    }

    a:hover {
        color: var(--alternate-theme-secondary-color);
    }

    .card {
        box-shadow: 0px 3px 10px var(--alternate-theme-box-shadow-color);
    }

    .card:hover {
        box-shadow: 0px 15px 26px var(--alternate-theme-box-shadow-color);
    }

    .card .image-box {
        box-shadow: 0px 2px 15px var(--alternate-theme-box-shadow-color);
    }
}

.alternate .themeButton {
    background: var(--alternate-theme-accent-color);
    border: 1px solid var(--alternate-theme-secondary-color);
    color: var(--alternate-theme-secondary-color);
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.alternate .themeButton:hover {
    background: var(--alternate-theme-secondary-color);
    color: var(--alternate-theme-accent-color);
}

footer {
    align-self: end;
    font-size: 10px;
    padding: 10px 0;
}

@media (max-width: 768px) {
    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .project-container {
        grid-template-columns: repeat(1, 1fr);
    }
}